.activity-box .create-activity {
  margin: 30px 15px;
  padding: 24px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  transition: .2s;
}
.activity-box .create-activity:hover {
  box-shadow: 0 0 8px 0 rgba(232, 237, 250, 0.6), 0 2px 4px 0 rgba(232, 237, 250, 0.5);
}
