.el-container .el-header {
  background-color: #1F499D;
}
.el-container .el-main {
  width: 1200px;
  margin: 20px auto;
  padding: 24px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  transition: .2s;
}
.el-container .article-title {
  padding: 20px 0;
}
.el-container .article-title div.detail {
  width: 380px;
  height: 20px;
  margin: 20px 0 0 390px;
  font-size: 12px;
}
.el-container .article-title div.detail div {
  float: left;
}
.el-container .article-title div.detail div:first-child {
  margin-right: 30px;
}
.el-container .article {
  text-align: left;
  font-size: 14px;
  line-height: 30px;
  margin-top: 30px;
}
.el-container .article p {
  margin: 10px 0;
  text-indent: 2em;
  color: #333;
}
.el-container .article .abstract {
  font-weight: 700;
}
.el-container .info {
  padding: 20px 0;
  margin-left: 50px;
  font-size: 12px;
}
.el-container .info div {
  float: left;
}
.el-container .info div:first-child {
  margin-right: 30px;
}
