body,
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h5,
input,
button {
  margin: 0;
  padding: 0;
  font-family: Tahoma, "Helvetica Neue", "Microsoft Yahei", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}
/* ie 右侧滚动条 */
html,
body {
  -ms-overflow-style: scrollbar;
}
button,
input {
  border: none;
  outline: none;
  font-family: Tahoma, "Helvetica Neue", "Microsoft Yahei", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}
ul,
li {
  list-style: none;
}
i {
  font-style: normal;
}
textarea {
  resize: none;
  outline: none;
}
a {
  font-family: Tahoma, "Helvetica Neue", "Microsoft Yahei", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
  font-size: 14px;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  outline: none !important;
  text-decoration: none!important;
}
input[type="file"]{
  display: none;
}