a {
  text-decoration: none;
  outline: none;
  color: #ffffff;
}
a:hover,
a:focus {
  text-decoration: none;
  color: unset;
}
ul {
  float: left;
  list-style-type: none;
}
ul li {
  float: left;
  margin: 10px 10px 0 10px;
}
.header-bar {
  height: 80px;
  background: #48bc8a;
}
.header-bar.row {
  margin: 0;
}
.header-bar .logo-box a {
  height: 100%;
  font-size: 16px;
  color: #ffffff;
  line-height: 80px;
  text-align: left;
}
.header-bar .nav-bar-box {
  height: 100%;
  color: #ffffff;
}
.header-bar .nav-bar-box .nav-bar {
  height: 100%;
}
.header-bar .nav-bar-box .nav-bar a {
  display: block;
  height: 70px;
  width: 96px;
  line-height: 100px;
  cursor: pointer;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.header-bar .nav-bar-box .nav-bar a:hover {
  background-color: #ffffff;
  color: #48bc8a;
}
.header-bar .nav-bar-box .nav-bar a:hover span.icon-activity {
  background: url('../../common/images/header-icon-1-active.png') no-repeat center 10px;
}
.header-bar .nav-bar-box .nav-bar a:hover span.icon-work {
  background: url('../../common/images/header-icon-2-active.png') no-repeat center 10px;
}
.header-bar .nav-bar-box .nav-bar a:hover span.icon-mark {
  background: url('../../common/images/header-icon-3-active.png') no-repeat center 10px;
}
.header-bar .nav-bar-box .nav-bar a:hover span.icon-manage {
  background: url('../../common/images/header-icon-4-active.png') no-repeat center 10px;
}
.header-bar .nav-bar-box .nav-bar a span {
  display: block;
  height: 100%;
  width: 100%;
}
.header-bar .nav-bar-box .nav-bar a span.icon-activity {
  background: url('../../common/images/header-icon-1.png') no-repeat center 10px;
}
.header-bar .nav-bar-box .nav-bar a span.icon-work {
  background: url('../../common/images/header-icon-2.png') no-repeat center 10px;
}
.header-bar .nav-bar-box .nav-bar a span.icon-mark {
  background: url('../../common/images/header-icon-3.png') no-repeat center 10px;
}
.header-bar .nav-bar-box .nav-bar a span.icon-manage {
  background: url('../../common/images/header-icon-4.png') no-repeat center 10px;
}
.header-bar .nav-bar-box .nav-bar a.router-link-active {
  background-color: #ffffff;
  color: #48bc8a;
}
.header-bar .nav-bar-box .nav-bar a.router-link-active span.icon-activity {
  background: url('../../common/images/header-icon-1-active.png') no-repeat center 10px;
}
.header-bar .nav-bar-box .nav-bar a.router-link-active span.icon-work {
  background: url('../../common/images/header-icon-2-active.png') no-repeat center 10px;
}
.header-bar .nav-bar-box .nav-bar a.router-link-active span.icon-mark {
  background: url('../../common/images/header-icon-3-active.png') no-repeat center 10px;
}
.header-bar .nav-bar-box .nav-bar a.router-link-active span.icon-manage {
  background: url('../../common/images/header-icon-4-active.png') no-repeat center 10px;
}
.header-bar .nav-bar-box .header-rt {
  float: left;
  width: 140px;
  height: 50px;
  background: #48bc8a;
  box-shadow: 0 0 4px 1px #c54537;
  border-radius: 25px;
  line-height: 50px;
  margin: 15px 0 15px 10px;
  cursor: pointer;
}
.header-bar .nav-bar-box .header-rt i.icon-personal {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  margin: 10px 0 10px 10px;
  background: url('../../common/images/header-icon-personal.png') no-repeat center;
}
.header-bar .nav-bar-box .header-rt span {
  margin-left: -30px;
}
